html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: Tahoma, Geneva, Verdana, sans-serif; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

p {
  font-size: 1em; }

time {
  font-size: 1em; }

body footer {
  color: red; }

@media all and (min-width: 1201px) {
  body header {
    display: flex;
    justify-content: space-between;
    padding: 3em 2em 2em 2em;
    margin: 0; }
  body footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 15px; }
  main {
    display: flex;
    padding: 15px;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly; }
    main article {
      flex: auto;
      padding: .8em 1.5em;
      border: .2em solid;
      border-color: rgba(212, 108, 10, 0.5);
      margin: 0 .6em 3em .6em;
      border-radius: 2em;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.36); }
      main article header {
        display: flex;
        justify-content: space-between;
        padding: .5em .2em 1.5em .2em; }
      main article section {
        width: auto;
        padding: .8em 1.5em;
        border: 0.2em solid rgba(212, 108, 10, 0.5);
        margin: 0 .2em 1em .2em;
        border-radius: 1em;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36); }
        main article section h3 {
          font-style: bold; }
        main article section div {
          display: flex;
          justify-content: space-between; }
          main article section div p {
            text-justify: auto; }
          main article section div time {
            display: inline-block; } }

@media all and (min-width: 801px) and (max-width: 1200px) {
  body header {
    display: flex;
    justify-content: space-between;
    padding: 3em 2em 2em 2em;
    margin: 0; }
  body footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 15px; }
  main {
    display: flex;
    padding: 15px;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly; }
    main article {
      flex: auto;
      padding: .8em 1.5em;
      border: .2em solid;
      border-color: rgba(212, 108, 10, 0.5);
      margin: 0 .6em 3em .6em;
      border-radius: 2em;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.36); }
      main article header {
        display: flex;
        justify-content: space-between;
        padding: .5em .2em 1.5em .2em; }
      main article section {
        width: auto;
        padding: .8em 1.5em;
        border: 0.2em solid rgba(212, 108, 10, 0.5);
        margin: 0 .2em 1em .2em;
        border-radius: 1em;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36); }
        main article section h3 {
          font-style: bold; }
        main article section div {
          display: flex;
          justify-content: space-between; }
          main article section div p {
            text-justify: auto; }
          main article section div time {
            display: inline-block; } }

@media all and (min-width: 631px) and (max-width: 800px) {
  body header {
    display: flex;
    justify-content: space-between;
    padding: 3em 2em 2em 2em;
    margin: 0; }
  body footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 15px; }
  main {
    display: flex;
    padding: 15px;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly; }
    main article {
      flex: auto;
      padding: .8em 1.5em;
      border: .2em solid;
      border-color: rgba(212, 108, 10, 0.5);
      margin: 0 .6em 3em .6em;
      border-radius: 2em;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.36); }
      main article header {
        display: flex;
        justify-content: space-between;
        padding: .5em .2em 1.5em .2em; }
      main article section {
        width: auto;
        padding: .8em 1.5em;
        border: 0.2em solid rgba(212, 108, 10, 0.5);
        margin: 0 .2em 1em .2em;
        border-radius: 1em;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36); }
        main article section h3 {
          font-style: bold; }
        main article section div {
          display: flex;
          justify-content: space-between; }
          main article section div p {
            text-justify: auto; }
          main article section div time {
            display: inline-block; } }

@media all and (max-width: 630px) {
  body header {
    display: flex;
    justify-content: space-between;
    padding: 3em 2em 2em 2em;
    margin: 0; }
  body footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 15px; }
  main {
    display: flex;
    padding: 15px;
    height: auto;
    flex-direction: column; }
    main article {
      flex: auto;
      padding: .8em 1.5em;
      border: .2em solid;
      border-color: rgba(212, 108, 10, 0.5);
      margin: 0 .6em 3em .6em;
      border-radius: 2em;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.36); }
      main article header {
        display: flex;
        justify-content: space-between;
        padding: .5em .2em 1.5em .2em; }
      main article section {
        width: auto;
        padding: .8em 1.5em;
        border: 0.2em solid rgba(212, 108, 10, 0.5);
        margin: 0 .2em 1em .2em;
        border-radius: 1em;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36); }
        main article section h3 {
          font-style: bold; }
        main article section div {
          display: flex;
          justify-content: space-between; }
          main article section div p {
            text-justify: auto; }
          main article section div time {
            display: inline-block; } }
