@font-face {
  font-family: "Andrographis";
  src: url("/fonts/Andrographis.ttf"); }

@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico.ttf"); }

@font-face {
  font-family: "BPMono";
  src: url("/fonts/BPmono.ttf"); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: Tahoma, Geneva, Verdana, sans-serif; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

p {
  font-size: 1em; }

time {
  font-size: 1em; }

html {
  background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px, radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px), rgba(136, 170, 51, 0.3);
  background-size: 20px 20px; }

html {
  height: 100%;
  display: flex;
  flex-direction: column; }
  html body {
    height: 100%; }
  html main {
    font-family: 'Pacifico';
    text-shadow: 0.11em 0.11em 0.11em #5a5a5a;
    padding: 1.6em;
    margin: 2.8em;
    height: auto;
    position: relative;
    border: .2em solid grey;
    border-radius: 3em;
    background-color: rgba(255, 255, 255, 0.6); }
  html h1 {
    font-size: 4em;
    color: #e1ac26;
    text-align: center; }
  html article section {
    font-family: 'BPMono';
    padding-left: 1.3em; }
  html article header h2 {
    font-size: 3em;
    color: #316b98; }
  html article H3 {
    font-size: 2em;
    color: #28465b;
    margin: .4em 0; }
  html article h4 {
    font-size: 2em;
    color: #2089da;
    padding: 1.6em 0em 0.4em; }
  html article a {
    font-size: 1.5em;
    padding: 0 0 .3em .5em; }
  @media all and (min-width: 380px) {
    html main {
      height: 100%; } }
