// mixins
// 
// flex for main content
@mixin mainFlex () {
    display: flex;
    padding: 15px;
    height: auto;
}

// flex for sizes above mobile
@mixin aboveMobileFlex {
    flex-direction: row;
    justify-content: space-evenly;
}

// task sections (3)
@mixin taskDivision () {
    flex: auto;
    padding: .8em 1.5em;
    border: .2em solid;
    border-color: $borderColor;
    margin: 0 .6em 3em .6em;
    border-radius: 2em;
    box-shadow: 2px 2px 2px $boxShadow;
}

// task section header
@mixin taskHeader {
    display: flex;
    justify-content: space-between;
    padding: .5em .2em 1.5em .2em;
}

// individual tasks
@mixin taskCard {
    width: auto;
    padding: .8em 1.5em;
    border: .2em solid rgba(212, 108, 10, 0.5);
    margin: 0 .2em 1em .2em;
    border-radius: 1em;
    box-shadow: 1px 1px 1px $boxShadow;
}

// header footer
@mixin mainHeaderFooter {
    header {
        display: flex;
        justify-content: space-between;
        padding: 3em 2em 2em 2em;
        margin: 0;
    }
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        padding: 15px;
    }
}