// nested main content
@mixin taskMain {
    article {
        @include taskDivision ();
        header {
            @include taskHeader
        }
        section {
            @include taskCard;
            h3 {
                font-style: bold;
            }
            div {
                display: flex;
                justify-content: space-between;
                p {
                    text-justify: auto;
                }
                time {
                    display: inline-block;
                }
            }
        }
    }
}