// nested main content
main {
    @extend %mainFlex;
    flex-direction: column;
    article {
        @extend %taskDivision;
        header {
            @extend %taskHeader;
        }
        section {
            @extend %taskCard;
            h3 {
                font-style: italic;
            }
            div {
                justify-content: center;
                p {
                    text-justify: auto;
                }
                time {
                    display: inline-block;
                }
            }
        }
    }
}