html {
    // height: 100%
    body {
        height: 100%
    }
    h1 {
        font-size: 4em;
        text-shadow: 0.02em 0.05em 0.06em #5a5a5a;
        color: rgb(225, 172, 38);
        text-align: Left;
        padding: 0 0 .5em .2em
    }
    article {
        section {
            font-family: 'BPMono';
            padding: 0 0 1.3em 1.3em;
        }
        header h2 {
            font-size: 3em;
            color: rgb(49, 107, 152);
        }
        H3 {
            font-size: 2em;
            color: rgb(40, 70, 91);
            margin: .4em 0;
        }
        h4 {
            font-size: 2em;
            color: rgb(32, 137, 218);
            padding: 1.6em 0em 0.4em;
        }
        a {
            font-size: 1.5em;
            padding: 0 0 .3em .5em;
        }
    }
    height: 100%;
    background-color: rgba(90, 90, 90, .36);

}

main {
    font-family: 'Comfortaa';
    text-shadow: 0.02em 0.05em 0.06em rgb(90, 90, 90);
    padding: 1.6em;
    margin: 1em;
    height: 100%;
    // position: relative;
    border: .2em solid grey;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.70);
    
}

// @media all and (min-width: 380px) {
//     main {
//         height: 100%;
//         // margin: 0 2.8em;
//     }
// }