html {
  display: flex;
  flex-flow: column;
  height: 100%;
  body {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding-bottom: 2.4em;
  }
  .header-nav {
    display: flex;
  }
  h1 {
    font-size: 4em;
    text-shadow: 0.02em 0.05em 0.06em #5a5a5a;
    color: rgb(225, 172, 38);
    text-align: Left;
    padding: .6em 0 0.8em 0.2em;
  }
  h2 {
    font-size: 3em;
    color: rgb(49, 107, 152);
  }
  article {
    font-family: "BPMono";
    padding: 2.5em 0 1.3em 1.3em;
    display: flex;
    flex-flow: column;
    height: 100%;
    h3 {
      font-size: 2em;
      color: rgb(40, 70, 91);
      margin: 0.4em 0;
    }
    h4 {
      font-size: 2em;
      color: rgb(32, 137, 218);
      padding: 1.6em 0em 0.4em;
    }
    a {
      font-size: 1.5em;
      padding: 0 0 0.3em 0.5em;
    }
    // background-color: rgba(195, 195, 195);
  }
  footer {
    position: fixed;
    height: 2.5em;
    bottom: -3em;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    background-color: rgba(195, 195, 195, 1);
    h6 {
      // font-family: "Helvetica";
      // color: rgba(0, 0, 0, 0.8);
      // margin: 0 0 0 .6em;
      //   position: absolute;
      height: 80%;
      padding: 0.8em 2em 0 0;
      float: right;
    }
  }
  main {
    font-family: "Comfortaa";
    // new
    display: flex;
    flex-flow: column;
    height: 100%;
    // new
    text-shadow: 0.02em 0.05em 0.06em rgba(90, 90, 90, 1);
    padding: 2.6em;
    // margin: 1em;
    position: relative;
    // border: 0.2em solid grey;
    // border-radius: 2em;
    background-color: rgba(245, 245, 245, 1);
  }
  #copy {
    height: 80%;
    padding: 0.8em 1em 0 0;
    float: right;
  }
}

// ! Home Page

#sc-logo{
    max-width: 9em;
    height: auto;
}

.home {
    margin-top: 6em;
  h1 {
    text-align: left;
  }
}

// ! hamburger

.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background-color: rgba(240, 240, 240, 1);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  right: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  float: right;
  top: 0;
  width: 13rem;
  z-index: 1;
}

.nav.expanded {
  right: 0;
}

.nav ul {
  position: absolute;
  top: 36%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  line-height: 2em;
  margin: 0;
  padding: 0 0 4em 1em;
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2.5rem;
  right: 2.5rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 2;
  //   float: right;
}

.nav-toggle:hover {
  opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(195, 195, 195, 1);
  content: "";
  height: 0.4rem;
  width: 100%;
  float: right;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
  float: right;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
  float: right;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
  float: right;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
  float: right;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  float: right;
}
