html {
  display: flex;
  flex-flow: column;
  height: 100%; }
  html body {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding-bottom: 2.4em; }
  html .header-nav {
    display: flex; }
  html h1 {
    font-size: 4em;
    text-shadow: 0.02em 0.05em 0.06em #5a5a5a;
    color: #e1ac26;
    text-align: Left;
    padding: 0 0 0.5em 0.2em; }
  html h2 {
    font-size: 3em;
    color: #316b98; }
  html article {
    font-family: "BPMono";
    padding: 0 0 1.3em 1.3em;
    display: flex;
    flex-flow: column;
    height: 100%; }
    html article h3 {
      font-size: 2em;
      color: #28465b;
      margin: 0.4em 0; }
    html article h4 {
      font-size: 2em;
      color: #2089da;
      padding: 1.6em 0em 0.4em; }
    html article a {
      font-size: 1.5em;
      padding: 0 0 0.3em 0.5em; }
  html footer {
    position: fixed;
    height: 2.5em;
    bottom: -3em;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    background-color: #c3c3c3; }
    html footer h6 {
      height: 80%;
      padding: 0.8em 2em 0 0;
      float: right; }
  html main {
    font-family: "Comfortaa";
    display: flex;
    flex-flow: column;
    height: 100%;
    text-shadow: 0.02em 0.05em 0.06em #5a5a5a;
    padding: 1.6em;
    margin: 1em;
    position: relative;
    border: 0.2em solid grey;
    border-radius: 2em;
    background-color: white; }

.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #28dde0;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  right: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  float: right;
  top: 0;
  width: 20rem;
  z-index: 1; }

.nav.expanded {
  right: 0; }

.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  float: right; }

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  right: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 2;
  float: right; }

.nav-toggle:hover {
  opacity: 0.8; }

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #c3c3c3;
  content: "";
  height: 0.4rem;
  width: 100%;
  float: right; }

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
  float: right; }

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
  float: right; }

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
  float: right; }

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
  float: right; }

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right; }

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  float: right; }
