// fonts
$fontStack: Tahoma,
Geneva,
Verdana,
sans-serif;
@font-face {
    font-family: "Andrographis";
    src: url("/fonts/Andrographis.ttf");
}

@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Regular.ttf");
}

// 123