// fonts
$fontStack: Tahoma,
Geneva,
Verdana,
sans-serif;
@font-face {
    font-family: "Andrographis";
    src: url("/pages/Kanban/fonts/Andrographis.ttf") format("ttf");
}

@font-face {
    font-family: "Pacifico";
    src: url("/pages/Kanban/fonts/Pacifico.ttf") format("ttf");
}